<body>
     <img src="https://www.codenow.org/assets/codenow_logo.png" width="300"> 
   <h1>Make a Todo List</h1>
   <h2>Your List:</h2>
    <ul> 
        <% @todos.each do |todo| %>
            <li>
                <input type="checkbox" name=""/>
                 <a href="show/<%= todo.id %>"><%= todo.description %></a>
                 <span class="pomodoro-estimate small-pomodoro-estimate"><%= todo.pomodoro_estimate %></span>
            </li>
        <% end %>
    </ul>
    
    <input type="text" placeholder="add a new todo..." > <br>
    <input type="number" placeholder="number of pomodoros"><br>
    <input id="add-new-todo-button" type="submit" value="add todo">

</body>  