<html>
    <head>
        <title> Todo List Application </title>
    </head>
    
    <body>
        <input type="checkbox">
        <h2> make the curricululm 4 pomodoros</h2>
        
        <p>In this session, you will introdce the program with teh students and play an ice breaker.</p><br>
        
        <a href="#">Edit</a>
        <a href="#">Delete</a>
        <a href="index.html">Go Back</a>
    </body>